* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.importantwords {
  color: burlywood;
}


@font-face{

    font-family: "Norse";
    src: url(fonts/norse-bold_1-webfont.woff) format(woff);
    src: url(fonts/norse-bold_1-webfont.woff2) format(woff2);
    font-family: 'Roboto', sans-serif;
  }

body {
    display: flex;
    flex-wrap: wrap;

    
}

#left {
    
    width: 34dvw;
    background: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width:1024px) {
    body {
        flex-direction: column;
    }
    #left {
        width: 100dvw;
        height: 15dvh;
        background-color: rgb(8, 78, 23);
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo {
        background-color: none;
        font-family: "Norse", sans-serif;
        font-size: 64px
        
    }
    #credits {
        visibility: hidden;
    }
    #right {
        width: 100vw;
        background-color: rgba(0, 255, 255, 0);
    }
}
@media screen and (min-width:1025px) {
    body {
        flex-direction: initial;
    }
    #left {
        width: 34%;
        
    }
    #logo{
        margin-top: 33dvh;
        background-color: rgba(0, 0, 0, 0.527);
        height: 10%;
        
    }
    #logo p {
        font-family: "Norse", sans-serif;
        font-size: 5rem;
    }
    #credits {
        font-family: "Norse", sans-serif;
        font-size: 1rem;
    }
    #right {
        width: 66%;
    }
}

@media screen and (max-width: 600px) {
  #marketpart p {
    white-space: normal;
  }
}


#logo {
    font-weight: 600;
    font-size: xx-large;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    
    height: 100dvh;
    background-color: rgba(255, 0, 0, 0);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
}

#marketpart {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;
    gap: 16px;

    font-family: "Roboto", sans-serif;

    background: var(--main-bg-color);
  }

  .marketpara {
    font-size: 1.5rem;
    color: darkslategrey;
    font-weight: 600;
    width: 75%;
    
  }

  #formpart {
    font-family: "Roboto", sans-serif;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    background-color: whitesmoke;
    padding-left: 4rem;
    padding-top: 1rem;
  }

  #formpart p {
    font-weight: 600;
    font-size: 1.5rem;
    color: darkslategrey;
    font-family: "Roboto", sans-serif;
  }

.row {
  display: flex;
}

.column {
  width: 25%;
  height: 15.62rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: 600;
  font-size: 0.80rem;
}

input {
  display: block;
  appearance: none;
  border-radius: 6px;
  border: 1px solid lightgray;
  width: 256px;
  height: 32px;
  padding-left: 8px;
}



input:required:valid {
  border: 2px solid #596D48;
}

input:optional:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}


input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% rgba(255, 1, 1, 0.247);
  background-size: 25px;
}




  #submitpart {
    width: 100%;
    background: var(--main-bg-color);
    padding-top: 2.5rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 1rem;

  }

  #submitbutton {
    background-color: #596D48;
    border-radius: 5px;
    width: 15rem;
    height: 3rem;
    color: burlywood;
    font-size: 1.15rem;
    font-weight: 600;
    box-shadow: 3px 4px 13px 3px rgba(133,133,133,0.94);
    -webkit-box-shadow: 3px 4px 13px 3px rgba(133,133,133,0.94);
    -moz-box-shadow: 3px 4px 13px 3px rgba(133,133,133,0.94);
  }

  #submitpart p {
    font-family: "Roboto", sans-serif;
    color: darkslategrey;

    background-color: white;
    width: fit-content;

  }

  #submitpart a {
    color: #596D48;
    font-weight: 600;
    text-decoration: none;
  }
